body {
    font-family: 'Lato';
    background-color: #1f3f60;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}

.row {
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6, p, label, th, td{
  color: white;
}

.table-hover tbody tr:hover td {
  background-color: #1a1a1a;
}


a, #login-forgot, a:visited, a:focus, #login-forgot:visited, #login-forgot:focus {
  color: #e6f7ff;
}

a:hover, #login-forgot:hover {
  color: #ffffcc;
}

.fa {
  margin-right: 4px;
}

.search-input-group {
    margin-top: 7px;
}

.search-input-group .input-group-addon{
    background: white !important;
}
.search-input-group button{
    border:0;
    background:transparent;
}

/*
|--------------------------------------------------------------------------
| about, contact, magic jumbotron
|--------------------------------------------------------------------------
*/
#about-jumbotron {
  background-color: #13263a;
}

hr {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
 }

 #draggable {
    z-index: 10;
    padding: 0.5em; float: left;
    margin: 10px 10px 10px 0;
    background-color: transparent;
    border: none;
   }

 #droppable-magic, #droppable-submit {
    z-index: 9;
    padding: 0.5em; float: left; margin: 10px;
    background-color: transparent;
    border: none;
  }

/*
|--------------------------------------------------------------------------
| welcome page
|--------------------------------------------------------------------------
*/
#welcome {
  padding-top: 10px;
  background-color: #333333;
}

#welcome-card {
  background-color: rgba(0, 0, 0, .5);
  color: white;
}

#welcome-footer {
  position: absolute;
  bottom: 0;
}

#welcome-footer > a {
  color: white;
}

#welcome-footer > a:hover {
  color: #b2cde6;
}

#welcome-btn {
  font-size: 16px;
}

#welcome-head {
  font-size: 64px;
  color: white;
  text-align: center;
}

#welcome-text {
  font-size: 16px;
  color: white;
  text-align: center;
}

.btn-outline-secondary {
  color:white;
}

.btn-outline-secondary:hover {
  background-color: #333333;
}

/*other devices*/
@media (max-width: 991px) {
  #welcome {
    background-color: #333333;
  }

  #welcome-img {
    height: 0;
    width: 0;
  }
}

/*
|--------------------------------------------------------------------------
| Large desktops and laptops
|--------------------------------------------------------------------------
*/
@media (min-width: 992px) {

    #welcome-img {
      z-index: -1;
      position: absolute;
      opacity: 0.8;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
    }

}

/*
|--------------------------------------------------------------------------
| panels
|--------------------------------------------------------------------------
*/
.panel-default > .panel-heading {
  background-color: #ce4b4b;
  color: #ffe6e6;
}

.panel-default > .panel-body {
  background-color: #d35f5f;
  color: #ffe6e6;
}

/*
|--------------------------------------------------------------------------
| navbar
|--------------------------------------------------------------------------
*/
.navbar-default {
  background-color: #ce4b4b;
  border-color: #e16558;
  }
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ce4b4b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: #e16558;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #e16558;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffbbbc;
  background-color: #e16558;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #e16558;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #e16558;
}
.navbar-default .navbar-toggle {
  border-color: #e16558;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e16558;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #e16558;
  }
}
