body {
    font-family: 'Lato';
    background-color: #e6f3ff;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}

.fa {
  margin-right: 4px;
}

p {
  margin-left: 10px;
}

.mi-input-group {
    margin-top: 7px;
}

.mi-input-group .input-group-addon{
    background: white !important;
}
.mi-input-group button{
    border:0;
    background:transparent;
}

/*tags*/
.tag-box {
  margin: 1px 0px 1px 4px ;
  border-radius: 3px;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-color: #31708f;
  color: #1e3044;
  background-color: #f8fff5;
  color: #1e3044;
}

.btn {
  margin-bottom: 15px;
}

 hr {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(102, 0, 102, 0), rgba(102, 0, 102, 0.75), rgba(102, 0, 102, 0));
 }

 #draggable {
    z-index: 10;
    padding: 0.5em; float: left;
    margin: 10px 10px 10px 0;
    background-color: transparent;
    border: none;
   }

 #droppable-explore, #droppable-submit {
    z-index: 9;
    padding: 0.5em; float: left; margin: 10px;
    background-color: transparent;
    border: none;
  }

/*welcome*/
.welcome-btns {
}

.welcome-btn {
  font-size: 16px;
}

.welcome-text {
  color: white;
  text-align: center;
}

  @media (max-width: 991px) {
    .welcome-text {
      color: #333333;
    }

    #welcome-img {
      height: 0;
      width: 0;
    }
  }

/* Large desktops and laptops */
@media (min-width: 992px) {

    #welcome-img {
      z-index: -1;
      position: absolute;
      opacity: 0.8;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
    }

}

/*articles.index*/
article {
  font-size: 20px;
}

/*login, register panel*/
.panel-default > .panel-heading {
  background-color: #ce4b4b;
  color: #ffe6e6;
}

.panel-default > .panel-body {
  background-color: #d35f5f;
  color: #ffe6e6;
}

#login-forgot:link {
  color:#f2f2f2;
}

#login-forgot:visited, #login-forgot:active, #login-forgot:hover {
  color:#cccccc;
}

/*navbar*/
.navbar-default {
  background-color: #ce4b4b;
  border-color: #e16558;
  }
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ce4b4b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffbbbc;
  background-color: #e16558;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #e16558;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffbbbc;
  background-color: #e16558;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #e16558;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #e16558;
}
.navbar-default .navbar-toggle {
  border-color: #e16558;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e16558;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #e16558;
  }
}
